<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27185278283-ac1aj09a5g09vb7f2h4lm7bm5fatnr6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27185278283-ac1aj09a5g09vb7f2h4lm7bm5fatnr6v</string>
	<key>API_KEY</key>
	<string>AIzaSyCLcdkBMDFSNbhI2im8CJbgoAtSoCoSCtE</string>
	<key>GCM_SENDER_ID</key>
	<string>27185278283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fomark.peerparking</string>
	<key>PROJECT_ID</key>
	<string>peer-parking</string>
	<key>STORAGE_BUCKET</key>
	<string>peer-parking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27185278283:ios:74f92e21088f9777d8ccce</string>
	<key>DATABASE_URL</key>
	<string>https://peer-parking.firebaseio.com</string>
</dict>
</plist>