<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PeerParking.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
				<key>dateExpires</key>
				<string>4/14/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AvailableHapticFeedback.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BLKFlexibleHeightBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CircleProgressView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CodableFirebase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DatePickerDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>EzPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FittedSheets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GooglePlacesSearchController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>HelperClassPod.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBRadioCheckboxButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MultiSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenuController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StepIndicator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SweeterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftGifOrigin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>iProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7196AC392CBBAC70AFB952E7F5E22DF12CA1791E</string>
						<key>dateExpires</key>
						<string>4/14/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9SRKL49KA2</string>
						<key>name</key>
						<string>yossef hazut</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9SRKL49KA2.com.fomark.peerparking</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9SRKL49KA2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PeerParking.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c8ce7035-0343-4648-aa49-a34cc505b6eb</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.fomark.peerparking</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9SRKL49KA2</string>
				<key>name</key>
				<string>yossef hazut</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
